accelerate==0.24.1
einops==0.7.0
matplotlib==3.8.0
networkx==3.1
numpy==1.26.3
openai
pandas
pillow
protobuf
pytest==7.4.4
scikit-learn
sentencepiece==0.1.99
setuptools==69.0.3
torch==2.1.0
torchvision==0.16.0
transformers==4.35.0
triton==2.1.0
xformers==0.0.22.post7
