numpy==1.26.4
pytest~=7.4.4
networkx~=3.1
setuptools~=69.0.3
matplotlib~=3.8.0
torch>=2.5.0
torchvision>=0.20.0
transformers>=4.46.0
huggingface-hub>=0.25.1
sentencepiece>=0.2.0
triton==3.1.0
xformers
pydantic>=2.9.2
accelerate>=1.0.1
einops>=0.8.0
pandas>=2.2.3
bitsandbytes>=0.43.3